*
{
    margin: 0;
    padding: 0;
    font-family: "Times New Roma", Helvetica, sans-serif;
}

body{
    background-color: #FFE797;
}

#header
{
    background-color: #84994F;
    padding: 20px;
    text-align: center;
}

#header h1
{
    color: white;
}

#header a
{
    text-decoration: none;
    font-size: 20px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    display: block;
}

#card
{
    background-color: #B45253;
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
}

#card-title
{
    background-color: #FCB53B;
    text-align: center;
    color: black;
    padding: 16px;
}

#card-content img
{
    margin: 10px auto;
    display: block;
}

#card-content
{
    padding: 10px;
}

#card-content h2
{
    margin-top: 15px;
    margin-bottom: 5px;
}

#card-content h3
{
    margin-top: 10px;
}

#card-content ul
{
    list-style-type: none;
    padding-top: 10px;
}

#card-content #list-Ingredients
{
    padding-top: 5px;
}

#card-content .sub-ingredients
{
    padding-top: 3px;
    padding-left: 8px;
}

#card-content li
{
    padding: 5px;
}

#card-content li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#steps
{
    padding-left: 30px;
}